<div class="container" style="margin-top: 25px">
    <div class="row">
        <div class="col-md-6">
            <h1>Login</h1>
            <form>
                <div class="form-group">
                    <input [(ngModel)]="loginUsername" name="loginUsername" type="text" class="form-control" id="loginUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="loginPassword" name="loginPassword" type="password" class="form-control" id="loginPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" (click)="login()">Login</button>
            </form>
        </div>
        <div class="col-md-6">
            <h1>Register</h1>
            <form>
                <div class="form-group">
                    <input [(ngModel)]="registerUsername" name="registerUsername" type="text" class="form-control" id="registerUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="email" name="email" type="text" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="registerPassword" name="registerPassword" type="password" class="form-control" id="registerPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" class="form-control" id="confPwd" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-default" (click)="register()">Register</button>
            </form>
        </div>
    </div>
</div>