<div class="container">
    <div class="row">
        <h2>Les Voyages</h2>
        <div *ngFor="let v of voyages" id="accordion{{v.id}}">
            <h3>{{v.titre}}</h3>
            <div>
                <transport></transport>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: none">
    <div class="col-md-12">
        <div class="header"><a href="#" class="push btnPush">+</a></div>
        <form class="hidden-form">
            <div class="row">
                <div class="col-25">
                    <label for="fname">Titre Voyage</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="NbJour">Nombre de jour</label>
                </div>
                <div class="col-75">
                    <select id="NbJour" name="NbJour">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Budget">Subject</label>
                </div>
                <div class="col-75">
                    <input type="text" id="Budget" name="Budget" placeholder="0.00$">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Créer le voyage">
            </div>
        </form>
    </div>
</div>